* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.modal-bg {
  background-color: rgb(226, 135, 24);
}

p {
  margin: 0px 20px;
  padding: 0px 10px 0px 10px;
}
/* legal law area */
.card-background {
  background-image: linear-gradient(beige, white);
}

/* client say area */
.img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.carousel-caption {
  transform: translateY(-50%);
  bottom: initial;
  top: 40%;
}
.carousel-indicators {
  margin-bottom: 40px;
  padding-bottom: 120px;
}
/* accordion */
.accordion-item {
  background-color: rgb(223, 211, 211);
}
.accordion-button {
  background-color: rgb(221, 211, 211);
}

.btn-color {
  background-color: antiquewhite;
}

@media screen and (max-width: 576px) {
  .banner {
    height: 450px;
  }

  .img-slide {
    height: 600px;
  }
  .carousel-indicators {
    margin-bottom: 40px;
    padding-bottom: 60px;
  }
  .last-accor-item {
    height: 450px;
  }
  footer {
    margin: 10px 0px;
    padding: 10px 0px;
  }
  .control-footer {
    margin: 2px 0px;
    padding: 2px 0px;
  }
  .justice {
    height: 300px;
    width: 200px;
  }

  .justice-p {
    text-align: center;
  }
  .justice-2 {
    height: 300px;
    width: 200px;
    margin: 10px 0px 20px 0px;
    padding: 40px 0px 40px 0px;
  }
  .justice-3 {
    height: 300px;
    width: 200px;
  }
  .justice-4 {
    height: 300px;
    width: 200px;
  }
  .btn-group {
    height: 40px;
    width: 200px;
  }
}
