* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.modal-bg {
  background-color: rgb(226, 135, 24);
}

p {
  margin: 0px 20px;
  padding: 0px 10px 0px 10px;
}
/* legal law area */
.card-background {
  background-image: linear-gradient(beige, white);
}

/* client say area */
.img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.carousel-caption {
  transform: translateY(-50%);
  bottom: initial;
  top: 40%;
}
.carousel-indicators {
  margin-bottom: 40px;
  padding-bottom: 120px;
}
/* accordion */
.accordion-item {
  background-color: rgb(223, 211, 211);
}
.accordion-button {
  background-color: rgb(221, 211, 211);
}
#panelsStayOpen-headingTwo button i {
  position: relative;
  display: block;
}
#panelsStayOpen-headingTwo button i {
  position: absolute;
  right: 5px;
  top: 20px;
}
#panelsStayOpen-headingOne button i {
  position: relative;
  display: block;
}
#panelsStayOpen-headingOne button i {
  position: absolute;
  right: 5px;
  top: 20px;
}

@media screen and (max-width: 576px) {
  .banner {
    height: 400px;
  }
  .img-slide {
    height: 600px;
  }
  .carousel-indicators {
    margin-bottom: 40px;
    padding-bottom: 60px;
  }
  .last-accor-item {
    height: 450px;
  }
}
